.todoItem {
  display: flex;

  /* height: 4rem; */
  border-bottom: 2px solid#efefef;
}
.todoItem p {
  word-break: break-word;
  font-weight: 300;
  font-size: 1.7rem;
  color: #4d4d4d;
  margin: 1rem;
}
.done p {
  text-decoration: line-through;
  color: #e6e6e6;
}
